# Node modules
node_modules/

# Build outputs
dist/
.parcel-cache
.snowpack/

# Package manager lock file
package-lock.json

# Configuration files
snowpack.config.js

# Scripts and server files
server.js

# Lua script file
exists.lua

# Ignore OS-specific and IDE-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp
